pkgbase = 1panel-bin
	pkgdesc = 1Panel, a modern open source linux panel (official binary)
	pkgver = 2.3.1
	pkgrel = 1
	url = https://github.com/1Panel-dev/1Panel
	install = 1panel-bin.install
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	depends = docker
	depends = docker-compose
	optdepends = ufw: firewall integration
	optdepends = firewalld: firewall integration
	conflicts = 1panel
	conflicts = 1panel-git
	conflicts = 1panel-dev-bin
	source_x86_64 = 1panel-v2.3.1-linux-amd64.tar.gz::https://resource.fit2cloud.com/1panel/package/v2/stable/v2.3.1/release/1panel-v2.3.1-linux-amd64.tar.gz
	sha256sums_x86_64 = 2747c098d235d76dc864fe9458565b5618e6efa3c588503357f4ba2b456fb209
	source_aarch64 = 1panel-v2.3.1-linux-arm64.tar.gz::https://resource.fit2cloud.com/1panel/package/v2/stable/v2.3.1/release/1panel-v2.3.1-linux-arm64.tar.gz
	sha256sums_aarch64 = b8c842d5c11ff4a991181e91f5155484b7d65149d3fd35923d9aeb7e73602e63

pkgname = 1panel-bin
