pkgbase = 1panel-bin
	pkgdesc = 1Panel, a modern open source linux panel (official binary)
	pkgver = 2.2.5
	pkgrel = 2
	url = https://github.com/1Panel-dev/1Panel
	install = 1panel-bin.install
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	depends = docker
	depends = docker-compose
	optdepends = ufw: firewall integration
	optdepends = firewalld: firewall integration
	conflicts = 1panel
	conflicts = 1panel-git
	conflicts = 1panel-dev-bin
	source_x86_64 = 1panel-v2.2.5-linux-amd64.tar.gz::https://resource.fit2cloud.com/1panel/package/v2/stable/v2.2.5/release/1panel-v2.2.5-linux-amd64.tar.gz
	sha256sums_x86_64 = e63e06126423a9cada0c55c1758c20d376b1a2091bb6bf12e86b3061c1e48f21
	source_aarch64 = 1panel-v2.2.5-linux-arm64.tar.gz::https://resource.fit2cloud.com/1panel/package/v2/stable/v2.2.5/release/1panel-v2.2.5-linux-arm64.tar.gz
	sha256sums_aarch64 = f363b164b0691610ac582bd737201aadc8ed576bffc33a44a567ee1b67d50b0f

pkgname = 1panel-bin
